.container {
    display: flex;
    flex-direction: row;
    padding:0 0rem;
    border: 2px solid #E8E8E8;
    background-image: linear-gradient(to right,#FFFAE1 10%,#C7FAFF 80%);
    height: 25vh;
    width: 90vw;
    overflow-x: scroll;
    overflow-y: scroll;
    align-items: center;
    justify-content: flex-start;
    white-space:nowrap;
}
.response {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.start_box{
    width: auto;
    padding: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255,241,194,1);
    overflow-wrap: break-word;
    word-break: break-all;
}
.init_box {
    text-align: left;
    background-color: rgba(255,241,194,1);
    overflow-wrap: break-word;
    padding: 5vh;
    max-height: 10vh;
    max-width: 30vw;
    margin-left: 5vw;
    margin-right: 1vw;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.response_box {
    text-align: left;
    background-color:rgba(255,241,194,1);
    overflow-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    min-height: 10vh;
    max-width: 30vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vec {
    width: 0;
    height: 0;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
    border-left: 3vh solid #000000;
    position: relative;
}